/*mobile first*/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
.body {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 90%;
  padding: 15px 0;
}
.nav-left a {
  font-family: "Reem Kufi", sans-serif;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  font-weight: 800;
  letter-spacing: 2px;
}
.nav-links-container,
.nav-button-container {
  display: none;
}
.small-device-nav-menu i {
  display: block;
  font-size: 2rem;
  color: black;
}
.page-header {
  width: 100%;
}
.header-container {
  background-image: url(sources/mbr-35.jpg);
  flex-basis: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  height: 100vh;
}
.header-container::after {
  content: "";
  background-color: #ffffff;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header-body {
  text-align: center;
  z-index: 2;
  /* padding: 10rem 1rem; */
  padding-top: calc(10rem + 57px);
  padding-bottom: 10rem;
}
.header-icons-container {
  color: black;
  font-family: "Reem Kufi";
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}
.header-icon:not(:last-child) {
  margin-right: 16px;
}
.header-h3 {
  font-family: "Reem Kufi", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.header-h1 {
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.9rem;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 26.8748px;
  margin: 0;
}

.header-links-container {
  list-style-type: none;
  display: flex;
  flex-basis: 60%;
  justify-content: center;
  text-decoration: none;
  color: rgb(140, 140, 140);
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 600;
  margin-top: 40px;
}
.header-links a {
  color: rgb(140, 140, 140);
  text-decoration: none;
  font-size: 1.5rem;
}
.header-links:not(:last-child):after {
  content: "/";
}
.gallery-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.gallery-box1 {
  background-image: url(sources/01.jpg);
}
.gallery-box2 {
  background-image: url(sources/02.jpg);
}
.gallery-box3 {
  background-image: url(sources/03.jpg);
}
.gallery-box4 {
  background-image: url(sources/04.jpg);
}
.gallery-box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}
.cards-container {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  /* margin-bottom: 4rem; */
}
.cards-bg-image {
  background-image: url(sources/345345345.jpg);
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover;                                    Q */
  height: 100vh;
  position: relative;
  z-index: 0;
}
.cards-bg-image::after {
  content: "";
  background-color: #efefef;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.cards-box-bg {
  display: flex;
  justify-content: center;
}
.cards-box-container {
  flex-basis: 90%;
  margin-top: -45rem;
  z-index: 1;
}
.cards-box {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
  padding: 6rem 2rem;
  background-color: white;
}
.cards-box:not(:first-child) {
  margin-top: 20px;
}
.cards-body {
  font-family: "Reem Kufi", sans-serif;
}
.cards-body h3 {
  font-size: 1.7rem;
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 1rem;
}
.cards-body p {
  color: rgb(140, 140, 140);
  font-weight: 500;
}
.cards-body a {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}
.interior-design-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.interior-design-photo1 {
  background-image: url(sources/01.jpg);
  flex-basis: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.interior-design-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 64px 16px;
}
.interior-design-icon a {
  font-family: "Reem Kufi";
  font-size: 4.4rem;
  text-align: center;
  font-weight: 400;
  color: black;
  flex-basis: 30%;
}
.interior-design-text {
  font-family: "Source Sans Pro", "Reem Kufi", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgb(140, 140, 140);
  text-align: center;
}
.interior-design-photo2 {
  background-image: url(sources/05.jpg);
  flex-basis: 100%;
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gallery-box i {
  display: none;
}
.team-bg {
  display: flex;
  flex-basis: 100%;
  background-image: url(sources/background3.jpg);
  background-size: cover;
  position: relative;
  z-index: 0;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
}
.team-bg::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.team-container {
  display: flex;
  flex-basis: 90%;
  z-index: 1;
  flex-direction: column;
  padding: 7.5rem 0;
}
.team-header {
  text-align: center;
  color: #ffffff;
  font-family: "Reem Kufi", sans-serif;
}
.team-header h4 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}
.team-header h3 {
  font-size: 2rem;
  font-weight: 800;
  margin: 1rem 0;
}
.header-line {
  position: relative;
}
.header-line::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  width: 40px;
  background: white;
  height: 2px;
  margin: auto;
}
.team-box {
  margin-top: 5rem;
}
.team-box img {
  width: 100%;
}
.team-box h3 {
  color: #af938f;
  font-size: 1.7rem;
  font-weight: 800;
  margin: 1.2rem 0;
  font-family: "Reem Kufi", sans-serif;
}
.team-box h4 {
  color: #bbbbbb;
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  font-weight: 600;
}
.footer-container {
  display: flex;
  flex-basis: 100%;
  background-color: #2b2b2b;
  padding: 6rem 2rem 2rem;
}
.footer-body {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer-body h3 {
  font-family: "Reem Kufi", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.contacts1 li , .contacts2 li {
  border-bottom: 1px solid #444444;
  padding-bottom: 0.9rem;
  margin-top: 1.5rem;
}
.footer-body p {
  color: rgb(140, 140, 140);
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 2rem;
}
.contacts1 , .contacts2{
  list-style-type: none;
  padding-left: 0;
}
.trips {
  display: flex;
  justify-content: space-between;
}
.trips-img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.trips-img1 {
  background-image: url(sources/02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 30%;
  height: 2.8rem;
  margin: 1rem 0;
}
.social-icons a {
  color: rgb(175, 147, 143);
  font-family: "Reem Kufi";
  font-size: 2rem;
  font-weight: 400;
}
.social-icons {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  align-items: center;
}
.social-icons li:not(:first-child) {
  margin-left: 1.5rem;
}
.copyright{
  color: rgb(175, 147, 143);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  margin: 0.5rem 0 0;
}
.contacts1 a , .contacts2 a{
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #bbbbbb;
  font-weight: 500;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .gallery-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gallery-box {
    flex-basis: 50%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .gallery-box::after {
    content: "";
    background-color: rgba(25, 25, 25, 0);
    /* opacity: 0; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: background 0.2s ease-in-out;
  }
  .gallery-box i {
    align-items: center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    z-index: 1;
    transition: all 1s ease-in;
  }
  .gallery-box:hover i{
    display: block;
  }

  .gallery-box:hover::after {
    background-color: rgba(25, 25, 25, 0.5);
  } 
  .team-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 0;
  }
  .team-header h3 {
    font-weight: 600;
  }
  .team-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-box {
    flex-basis: 50%;
    margin-top: 3rem;
  }
  .team-box h3 {
    font-weight: 500;
    margin: 0.3rem 0;
  }
  .team-box h4 {
    font-weight: 500;
  }
  .cards-box-container {
    flex-basis: 55%;
    margin-top: -35rem;
  }
  .cards-bg-image {
    height: 45vh;
  }
  .cards-box {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
    padding: 4rem 3rem;
  }
  .cards-body h3 {
    font-size: 2rem;
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 1rem;
  }
  .cards-body a {
    font-size: 1.2rem;
  }
  .interior-design-text {
    padding: 0 10rem;
    font-size: 1.5rem;
  }
  .footer-container {
    padding: 6rem 3rem 3rem;
  }
  .footer-body {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-interior {
    flex-basis: 100%;
  }
  .contacts1,
  .contacts2 {
    flex-basis: 45%;
    list-style-type: none;
  }
  .trips {
    flex-basis: 100%;
    text-align: center;
    flex-wrap: nowrap;
  }
  .footer-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-icons {
    flex-basis: 30%;
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    margin:0 3rem 0 0;
  }
  .copyright {
    flex-basis: 70%;
    text-align: right;
    margin-left: 3rem;
  }
  .footer-body h3 {
    font-size: 2.5rem;
  }
  .footer-body li {
    font-size: 2rem;
  }
  .footer-body p {
    font-size: 1.8rem;
  }
  .contacts1{
    margin-right: 3rem;
  }
  .contacts2{
    margin-left: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .small-device-nav-menu {
    display: none;
  }
  .nav-container {
    padding: 0;
  }
  .nav-left {
    margin: 10px 0;
  }
  .nav-right {
    display: flex;
  }
  .nav-links-container {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  .nav-link a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
    color: black;
    margin: 0 17.6px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .nav-link{
    padding:2rem 0;
  }
  .nav-button {
    background-color: #af938f;
    text-decoration: none;
    border: none;
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
    font-weight: 600;
    padding: 12px 32px;
    margin: 6.4px 12.8px;
    letter-spacing: 1px;
  }

  .button_transition {
    transition: background-color 0.2s ease-in-out;
  }
  .button_transition:hover {
    background-color: #7e5e5a;
    color: white;
  }
  .live-demo-dropdown {
    position: relative;
  }
  .dropdown-links {
    position: absolute;
    top: 100%;
    display: none;
    background-color: white;
    text-align: center;
    padding: 2rem 0;
  }
  .dropdown-links li {
    list-style-type: none;
    min-width: 25rem;
    font-family:"Source Sans Pro", sans-serif;
    line-height: 2;
    align-items: center;
    padding: 0.25rem 1.5rem;
    font-size: 1.5rem;
  }
  .live-demo-dropdown:hover .dropdown-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* .cards-box-container {
    display: flex;
    flex-basis: 80%;
    justify-content: space-between;
    margin-top: 200px;
    z-index: 10;
  }
  .cards-box {
    flex-basis: 32%;
    padding: 80px 48px;
  }
  .cards-bg-color {
    top: 350px;
  } */
  .interior-design-container {
    height: 400px;
    flex-wrap: nowrap;
  }
  .interior-design-photo1 {
    background-image: url(sources/05.jpg);
    flex-basis: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }
  .interior-design-body {
    text-align: center;
    flex-basis: 25%;
    padding: 50px;
  }
  .interior-design-icon a {
    font-family: "Reem Kufi";
    font-size: 4.4rem;
    text-align: center;
    font-weight: 400;
    color: black;
    flex-basis: 30%;
  }
  .interior-design-text {
    font-family: "Source Sans Pro", "Reem Kufi", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgb(140, 140, 140);
    text-align: center;
    padding: 0;
  }
  .interior-design-photo2 {
    background-image: url(sources/01.jpg);
    flex-basis: 25%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header-links:not(:last-child):after {
    margin: 0 10px;
  }
  .gallery-container {
    flex-wrap: nowrap;
  }
  .gallery-box {
    height: 40vh;
  }
  .nav-button-container {
    display: block;
  }
  .team-container {
    flex-basis: 80%;
    padding: 5rem 0;
  }
  .team-header {
    flex-basis: 100%;
  }
  .team-body {
    flex-basis: 100%;
  }
  .team-box {
    flex-basis: 25%;
    margin-top: 3rem;
  }
  /* .header-line {
    border-bottom: 1.5px solid #ffffff;
    margin: 0 32rem;
    width: 100%;
  } */
  .cards-bg-image {
    background-size: cover;
    background-position: top;
    height: 100vh;
  }
  .cards-box-container {
    flex-basis: 80%;
    margin-top: -12rem;
    display: flex;
    justify-content: space-between;
  }
  .cards-box {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
    padding: 6rem 3rem;
    background-color: white;
    flex-basis: 32%;
    margin-top: 0 !important;
  }
  .cards-body {
    font-family: "Reem Kufi", sans-serif;
  }
  .cards-body h3 {
    font-size: 2rem;
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 1rem;
    align-items: center;
  }
  .cards-body p {
    color: rgb(140, 140, 140);
    font-weight: 500;
    align-items: center;
  }
  .cards-body a {
    color: black;
    font-weight: 700;
    font-size: 1.7rem;
  }
  .footer-container {
    padding: 6rem 8rem 3rem;
  }
  .footer-body {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-interior {
    flex-basis: 25%;
  }
  .contacts1,
  .contacts2 {
    flex-basis: 25%;
    margin-left: 2rem;
  }
  .trips {
    flex-basis: 23.3%;
  }
  .footer-footer{
    flex-basis: 100%;
  }
  .footer-body h3 {
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  .footer-body .interioramp{
    font-size: 2.5rem;
    margin-top: 1.3rem;
    text-align: left;
  }
  .social-icons {
    flex-basis: 30%;
    font-size: 6rem;
    font-weight: 500;
    text-align: left;
    margin:0 4rem 0 0;
  }
  .copyright {
    flex-basis: 70%;
    text-align: right;
    margin-left: 6rem;
    margin-top: 0;
  }
  .footer-body p {
    letter-spacing: 1px;
    line-height: 2.5rem;
    font-family:"Source Sans Pro", sans-serif;
    font-size: 1.8rem;
  }
  .social-icons {
    /* flex-basis: ; */
    text-align: left;
  }
  .social-icons a:not(:first-child) {
    margin-left: 1.5rem;
  }
  








  /* //////////////////////////////////////////// */
  
  
  
  /*
  
  .trips {
    display: flex;
    justify-content: space-between;
  }
  .trips-img-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  .trips-img1 {
    background-image: url(sources/02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-basis: 30%;
    height: 2.8rem;
    margin: 1rem 0;
  }
  
  


  
  .copyright p {
    color: rgb(175, 147, 143);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 2rem;
    text-align: center;
    margin: 0.5rem 0 0;
  } */
/* ////////////////////////////////////////////////////////////////////////////// */
  
  
  
  /* .social-icons {
    flex-basis: 40%;
    font-size: 3rem;
    font-weight: 500;
    text-align: left; */
    /* margin-top: 3rem; */
  /* }
  .copyright {
    flex-basis: 60%;
  }
  .copyright p {
    text-align: right;
    margin: 3.6rem 0 0;
  }
  .contact2 {
    margin-left: 3rem;
  } */
}
